Repository jinalshah/devops-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image, pages

all-devops-build-image-arm:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: build
  image:
    name: docker:latest
  ...

all-devops-build-image-amd:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: build
  image:
    name: docker:latest
  ...

all-devops-deploy-image:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: deploy
  image:
    name: docker:latest
  ...

aws-devops-build-image-arm:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: build
  image:
    name: docker:latest
  ...

aws-devops-build-image-amd:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: build
  image:
    name: docker:latest
  ...

aws-devops-deploy-image:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: deploy
  image:
    name: docker:latest
  ...

gcp-devops-build-image-arm:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: build
  image:
    name: docker:latest
  ...

gcp-devops-build-image-amd:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: build
  image:
    name: docker:latest
  ...

pages:
  stage: docs
  script:
  - pip install mkdocs-material
  - mkdocs build --site-dir public
  artifacts:
    paths:
    - public

fix: ensure CHANGE_LOG uses real newlines for proper Markdown table formatting in version update log
  scripts/update_tool_versions.sh
Due: none

feat: assign version update log issue to script runner on creation
  scripts/update_tool_versions.sh
Due: none

docs: update and enhance documentation for usage, building, troubleshooting, and contributing
  docs/build-images/index.md
  docs/index.md
  docs/reading-the-docs.md
  docs/troubleshooting/index.md
  docs/use-images/index.md
Due: pages

docs: expand usage docs with env vars, auth mounts, troubleshooting, and CI examples
  docs/use-images/index.md
Due: pages

docs: expand usage docs with env vars, auth mounts, troubleshooting, and CI examples
  docs/index.md
Due: pages

docs: convert documentation to British English spelling throughout
  docs/use-images/index.md
Due: pages

Add CNAME file for custom domain devops.jin.al
  docs/CNAME
Due: pages

Fix README heading typo
  README.md
Due: none

Update image-builder action description
  actions/image-builder/action.yml
Due: none

Add ShellCheck step to image builder workflow
  .github/workflows/image-builder.yml
Due: none

Fix shellcheck issue in update script
  scripts/update_tool_versions.sh
Due: none

Fix helm installation path
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

Add devops user with sudo access
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

Update Dockerfile
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

Remove duplicate sudo from Dockerfile
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

fix issue with omz issue
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

Add IOS and Android exclusion for Python
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

change how python is installed
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

add wasm
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

Move python build to cache
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

Fix multi-platform Docker build failure with Python 3.14.2 tarball extraction
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

remove || true
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

Use bsdtar for Python tarball extraction to fix QEMU build failure
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

Change tar to bsdtar
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

try github actions checkout v6
  .github/workflows/image-builder.yml
Due: none

Update Build and push version
  .github/workflows/image-builder.yml
  actions/image-builder/action.yml
Due: none

Test non-QEMU build
  .DS_Store
  .github/workflows/build-image.yml
  .github/workflows/image-builder.yml
  .gitignore
  actions/image-builder/action.yml
Due: none

Push latest tags only on PRs
  .github/workflows/build-image.yml
  .github/workflows/image-builder.yml
Due: none

permissions
  .github/workflows/build-image.yml
  .github/workflows/image-builder.yml
Due: none

Add devops user as default with sudo access
  Dockerfile
  scripts/10-zshrc.sh
  scripts/20-bashrc.sh
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

Add fix for tfswitch and terraform
  Dockerfile
  scripts/10-zshrc.sh
  scripts/20-bashrc.sh
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

Fix terraform perms
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

fix terraform and paths
  Dockerfile
  scripts/10-zshrc.sh
  scripts/20-bashrc.sh
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

fix terraform
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

Path conditions:
  all-devops-build-image-arm: any of: Dockerfile, *.sh, .gitlab-ci.yml
  all-devops-build-image-amd: any of: Dockerfile, *.sh, .gitlab-ci.yml
  all-devops-deploy-image: any of: Dockerfile, *.sh, .gitlab-ci.yml
  aws-devops-build-image-arm: any of: Dockerfile, *.sh, .gitlab-ci.yml
  aws-devops-build-image-amd: any of: Dockerfile, *.sh, .gitlab-ci.yml
  aws-devops-deploy-image: any of: Dockerfile, *.sh, .gitlab-ci.yml
  gcp-devops-build-image-arm: any of: Dockerfile, *.sh, .gitlab-ci.yml
  gcp-devops-build-image-amd: any of: Dockerfile, *.sh, .gitlab-ci.yml
  gcp-devops-deploy-image: any of: Dockerfile, *.sh, .gitlab-ci.yml
  pages: any of: docs/**/*, mkdocs.yml, .gitlab-ci.yml
