Repository jinalshah/devops-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image, pages

all-devops-build-image-arm:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: build
  image:
    name: docker:latest
  ...

all-devops-build-image-amd:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: build
  image:
    name: docker:latest
  ...

all-devops-deploy-image:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: deploy
  image:
    name: docker:latest
  ...

aws-devops-build-image-arm:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: build
  image:
    name: docker:latest
  ...

aws-devops-build-image-amd:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: build
  image:
    name: docker:latest
  ...

aws-devops-deploy-image:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: deploy
  image:
    name: docker:latest
  ...

gcp-devops-build-image-arm:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: build
  image:
    name: docker:latest
  ...

gcp-devops-build-image-amd:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: build
  image:
    name: docker:latest
  ...

pages:
  stage: docs
  script:
  - pip install mkdocs-material
  - mkdocs build --site-dir public
  artifacts:
    paths:
    - public

Install node
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

Install AI Tools
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

Install claude as devops user
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

fix claude
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

Improve maintenance of dockerfile
  .dockerignore
  Dockerfile
  scripts/00-detect-arch.sh
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

Fix lint issues
  Dockerfile
  scripts/00-detect-arch.sh
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

Optimise final image size
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

keep ensurepip
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

Remove local clean up
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

Allow user re-mapping
  Dockerfile
  scripts/entrypoint.sh
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

add fix for devops remap to being 0
  scripts/entrypoint.sh
Due: none

Fix entrypoint script
  scripts/entrypoint.sh
Due: none

Add entrypoint.sh for multi-user
  Dockerfile
  docs/use-images/index.md
  scripts/entrypoint.sh
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image, pages

Add entrypoint.sh for multi-user
  scripts/entrypoint.sh
Due: none

Add gosu
  .github/workflows/build-image.yml
  Dockerfile
  docs/use-images/all-devops.md
  docs/use-images/aws-devops.md
  docs/use-images/gcp-devops.md
  scripts/entrypoint.sh
  scripts/update_tool_versions.sh
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image, pages

Add podman fix
  docs/use-images/index.md
  scripts/entrypoint.sh
Due: pages

Add copilot fix
  scripts/entrypoint.sh
Due: none

add ai tools
  Dockerfile
  docs/use-images/index.md
  test_ai_tools.sh
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image, pages

add ai tools
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

add .DS_Store to .gitignore
  .gitignore
Due: none

Install AI Tools and node, npm
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

install lts version of node
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

Restore architecture detection refactor and dockerignore
  .dockerignore
  Dockerfile
  scripts/00-detect-arch.sh
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

Update all docs
  .gitlab-ci.yml
  README.md
  docs/build-images/all-devops.md
  docs/build-images/aws-devops.md
  docs/build-images/gcp-devops.md
  docs/build-images/index.md
  docs/build-images/multi-platform-images.md
  docs/index.md
  docs/reading-the-docs.md
  docs/tool-basics/index.md
  docs/troubleshooting/index.md
  docs/use-images/all-devops.md
  docs/use-images/aws-devops.md
  docs/use-images/gcp-devops.md
  docs/use-images/index.md
  mkdocs.yml
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image, pages

Update documentation
  README.md
  docs/index.md
  docs/tool-basics/index.md
  docs/troubleshooting/index.md
Due: pages

Update all docs
  docs/architecture/index.md
  docs/build-images/optimization.md
  docs/choosing-an-image.md
  docs/quick-start.md
  docs/use-images/all-devops.md
  docs/use-images/authentication.md
  docs/use-images/index.md
  docs/workflows/ai-assisted-devops.md
  docs/workflows/index.md
  docs/workflows/multi-tool-patterns.md
  mkdocs.yml
Due: pages

update workflow
  .github/workflows/docs.yml
Due: none

Finish document phases to 9
  docs/tool-basics/ai-cli-setup.md
  docs/use-images/docker-compose.md
  docs/use-images/quick-reference.md
  docs/workflows/ci-cd-circleci.md
  docs/workflows/ci-cd-github.md
  docs/workflows/ci-cd-gitlab.md
  docs/workflows/ci-cd-jenkins.md
  docs/workflows/terraform-workflows.md
  mkdocs.yml
Due: pages

Complete documentation
  docs/architecture/base-layer.md
  docs/architecture/cloud-layers.md
  docs/architecture/comparison.md
  docs/build-images/customization.md
  docs/build-images/index.md
  docs/use-images/aws-devops.md
  docs/use-images/gcp-devops.md
  mkdocs.yml
Due: pages

Update docs
  README.md
  docs/architecture/comparison.md
  docs/build-images/customization.md
  docs/build-images/index.md
  docs/build-images/optimization.md
  docs/tool-basics/index.md
Due: pages

Update docs
  README.md
  docs/architecture/base-layer.md
  docs/architecture/cloud-layers.md
  docs/architecture/comparison.md
  docs/architecture/index.md
  docs/build-images/customization.md
  docs/build-images/index.md
  docs/build-images/optimization.md
  docs/choosing-an-image.md
  docs/index.md
  docs/quick-start.md
  docs/tool-basics/index.md
  docs/troubleshooting/index.md
  docs/use-images/all-devops.md
  docs/use-images/authentication.md
  docs/use-images/aws-devops.md
  docs/use-images/docker-compose.md
  docs/use-images/gcp-devops.md
  docs/workflows/ai-assisted-devops.md
  docs/workflows/ci-cd-circleci.md
  docs/workflows/ci-cd-github.md
  docs/workflows/ci-cd-gitlab.md
  docs/workflows/ci-cd-jenkins.md
  docs/workflows/index.md
  docs/workflows/terraform-workflows.md
  scripts/convert_to_british.py
Due: pages

Add nmap and antigravity cli
  Dockerfile
  README.md
  docs/architecture/base-layer.md
  docs/architecture/comparison.md
  docs/architecture/index.md
  docs/choosing-an-image.md
  docs/index.md
  docs/quick-start.md
  docs/tool-basics/ai-cli-setup.md
  docs/tool-basics/index.md
  docs/use-images/all-devops.md
  docs/use-images/authentication.md
  docs/use-images/aws-devops.md
  docs/use-images/gcp-devops.md
  docs/use-images/index.md
  docs/workflows/ai-assisted-devops.md
  test_network_tools.sh
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image, pages

Mirror to Gitlab
  .github/workflows/mirror-to-gitlab.yml
Due: none

Add lftp to base image
  Dockerfile
  README.md
  docs/architecture/base-layer.md
  docs/index.md
  docs/use-images/all-devops.md
  test_network_tools.sh
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image, pages

Upgrade base image to Rocky Linux 10
  .github/workflows/build-image.yml
  Dockerfile
  README.md
  docs/architecture/base-layer.md
  docs/architecture/comparison.md
  docs/architecture/index.md
  docs/build-images/all-devops.md
  docs/build-images/customization.md
  docs/build-images/index.md
  docs/build-images/optimization.md
  docs/index.md
  docs/quick-start.md
  docs/tool-basics/index.md
  docs/use-images/all-devops.md
  docs/use-images/aws-devops.md
  docs/use-images/gcp-devops.md
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image, pages

Path conditions:
  all-devops-build-image-arm: any of: Dockerfile, *.sh, .gitlab-ci.yml
  all-devops-build-image-amd: any of: Dockerfile, *.sh, .gitlab-ci.yml
  all-devops-deploy-image: any of: Dockerfile, *.sh, .gitlab-ci.yml
  aws-devops-build-image-arm: any of: Dockerfile, *.sh, .gitlab-ci.yml
  aws-devops-build-image-amd: any of: Dockerfile, *.sh, .gitlab-ci.yml
  aws-devops-deploy-image: any of: Dockerfile, *.sh, .gitlab-ci.yml
  gcp-devops-build-image-arm: any of: Dockerfile, *.sh, .gitlab-ci.yml
  gcp-devops-build-image-amd: any of: Dockerfile, *.sh, .gitlab-ci.yml
  gcp-devops-deploy-image: any of: Dockerfile, *.sh, .gitlab-ci.yml
  pages: any of: docs/**/*, mkdocs.yml, .gitlab-ci.yml
