Repository jinalshah/devops-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image, pages

all-devops-build-image-arm:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: build
  image:
    name: docker:latest
  ...

all-devops-build-image-amd:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: build
  image:
    name: docker:latest
  ...

all-devops-deploy-image:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: deploy
  image:
    name: docker:latest
  ...

aws-devops-build-image-arm:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: build
  image:
    name: docker:latest
  ...

aws-devops-build-image-amd:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: build
  image:
    name: docker:latest
  ...

aws-devops-deploy-image:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: deploy
  image:
    name: docker:latest
  ...

gcp-devops-build-image-arm:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: build
  image:
    name: docker:latest
  ...

gcp-devops-build-image-amd:
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  - docker buildx create --use
  stage: build
  image:
    name: docker:latest
  ...

pages:
  stage: docs
  script:
  - pip install mkdocs-material
  - mkdocs build --site-dir public
  artifacts:
    paths:
    - public

Stop the version updater managing TFSEC_VERSION
  scripts/update_tool_versions.sh
Due: none

Add OCI image labels and multi-arch manifest annotations
  .github/workflows/build-image.yml
  .github/workflows/image-builder.yml
  Dockerfile
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image

Migrate documentation site from MkDocs Material to Zensical
  .github/workflows/docs.yml
  .gitignore
  Dockerfile
  README.md
  docs/architecture/index.md
  docs/build-images/customization.md
  docs/build-images/index.md
  docs/build-images/optimization.md
  docs/choosing-an-image.md
  docs/reading-the-docs.md
  docs/tool-basics/index.md
  docs/troubleshooting/index.md
  docs/use-images/all-devops.md
  docs/workflows/index.md
  mkdocs.yml
  zensical.toml
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image, pages

Colourful docs refresh, image fixes and accurate architecture pages
  Dockerfile
  README.md
  docs/architecture/base-layer.md
  docs/architecture/cloud-layers.md
  docs/architecture/comparison.md
  docs/architecture/index.md
  docs/choosing-an-image.md
  docs/index.md
  docs/javascripts/extra.js
  docs/quick-start.md
  docs/reading-the-docs.md
  docs/stylesheets/extra.css
  zensical.toml
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image, pages

WIP: accuracy and visual pass on remaining docs pages
  docs/tool-basics/ai-cli-setup.md
  docs/tool-basics/index.md
  docs/use-images/all-devops.md
  docs/use-images/aws-devops.md
  docs/use-images/docker-compose.md
  docs/use-images/gcp-devops.md
  docs/use-images/index.md
  docs/use-images/quick-reference.md
  docs/workflows/ai-assisted-devops.md
  docs/workflows/ci-cd-github.md
  docs/workflows/ci-cd-gitlab.md
  docs/workflows/index.md
Due: pages

WIP: continue accuracy and visual pass on docs pages
  docs/troubleshooting/index.md
  docs/use-images/authentication.md
  docs/use-images/quick-reference.md
  docs/workflows/ci-cd-circleci.md
  docs/workflows/ci-cd-jenkins.md
Due: pages

Rewrite CI/CD workflow pages with accurate commands and pipeline diagrams
  docs/build-images/all-devops.md
  docs/build-images/aws-devops.md
  docs/build-images/customization.md
  docs/build-images/gcp-devops.md
  docs/build-images/index.md
  docs/build-images/multi-platform-images.md
  docs/build-images/optimization.md
  docs/workflows/ci-cd-circleci.md
  docs/workflows/ci-cd-github.md
  docs/workflows/ci-cd-gitlab.md
  docs/workflows/ci-cd-jenkins.md
  docs/workflows/multi-tool-patterns.md
  docs/workflows/terraform-workflows.md
Due: pages

Finish docs accuracy and visual pass; make diagrams readable
  docs/architecture/cloud-layers.md
  docs/build-images/multi-platform-images.md
  docs/stylesheets/extra.css
  docs/troubleshooting/index.md
  docs/use-images/authentication.md
  docs/workflows/ci-cd-gitlab.md
  docs/workflows/index.md
Due: pages

WIP: fact-check fixes (build images, troubleshooting and in-progress pages)
  README.md
  docs/architecture/base-layer.md
  docs/architecture/index.md
  docs/build-images/customization.md
  docs/build-images/multi-platform-images.md
  docs/build-images/optimization.md
  docs/choosing-an-image.md
  docs/index.md
  docs/javascripts/extra.js
  docs/quick-start.md
  docs/reading-the-docs.md
  docs/troubleshooting/index.md
  docs/workflows/ai-assisted-devops.md
  docs/workflows/ci-cd-circleci.md
  docs/workflows/ci-cd-github.md
  docs/workflows/ci-cd-gitlab.md
  docs/workflows/ci-cd-jenkins.md
  docs/workflows/multi-tool-patterns.md
Due: pages

Fetch kubectl from dl.k8s.io; fact-check fixes across docs
  Dockerfile
  README.md
  docs/architecture/base-layer.md
  docs/architecture/comparison.md
  docs/build-images/customization.md
  docs/choosing-an-image.md
  docs/index.md
  docs/troubleshooting/index.md
  docs/use-images/all-devops.md
  docs/use-images/authentication.md
  docs/use-images/aws-devops.md
  docs/use-images/gcp-devops.md
  docs/use-images/index.md
  docs/use-images/quick-reference.md
Due: all-devops-build-image-arm, all-devops-build-image-amd, all-devops-deploy-image, aws-devops-build-image-arm, aws-devops-build-image-amd, aws-devops-deploy-image, gcp-devops-build-image-arm, gcp-devops-build-image-amd, gcp-devops-deploy-image, pages

WIP: fact-check fixes in progress (use-images, tool basics)
  docs/use-images/docker-compose.md
Due: pages

Fact-check tool basics and AI CLI pages; fix cross-page leftovers
  docs/tool-basics/ai-cli-setup.md
  docs/tool-basics/index.md
  docs/use-images/authentication.md
Due: pages

Switch docs theme from purple and pink to an ocean palette
  docs/architecture/base-layer.md
  docs/architecture/cloud-layers.md
  docs/architecture/comparison.md
  docs/architecture/index.md
  docs/build-images/all-devops.md
  docs/build-images/aws-devops.md
  docs/build-images/customization.md
  docs/build-images/gcp-devops.md
  docs/build-images/index.md
  docs/build-images/multi-platform-images.md
  docs/build-images/optimization.md
  docs/choosing-an-image.md
  docs/index.md
  docs/quick-start.md
  docs/reading-the-docs.md
  docs/stylesheets/extra.css
  docs/troubleshooting/index.md
  docs/use-images/all-devops.md
  docs/use-images/authentication.md
  docs/use-images/docker-compose.md
  docs/use-images/gcp-devops.md
  docs/use-images/index.md
  docs/workflows/ai-assisted-devops.md
  docs/workflows/ci-cd-circleci.md
  docs/workflows/ci-cd-github.md
  docs/workflows/ci-cd-gitlab.md
  docs/workflows/ci-cd-jenkins.md
  docs/workflows/index.md
  docs/workflows/multi-tool-patterns.md
  docs/workflows/terraform-workflows.md
Due: pages

Path conditions:
  all-devops-build-image-arm: any of: Dockerfile, *.sh, .gitlab-ci.yml
  all-devops-build-image-amd: any of: Dockerfile, *.sh, .gitlab-ci.yml
  all-devops-deploy-image: any of: Dockerfile, *.sh, .gitlab-ci.yml
  aws-devops-build-image-arm: any of: Dockerfile, *.sh, .gitlab-ci.yml
  aws-devops-build-image-amd: any of: Dockerfile, *.sh, .gitlab-ci.yml
  aws-devops-deploy-image: any of: Dockerfile, *.sh, .gitlab-ci.yml
  gcp-devops-build-image-arm: any of: Dockerfile, *.sh, .gitlab-ci.yml
  gcp-devops-build-image-amd: any of: Dockerfile, *.sh, .gitlab-ci.yml
  gcp-devops-deploy-image: any of: Dockerfile, *.sh, .gitlab-ci.yml
  pages: any of: docs/**/*, mkdocs.yml, .gitlab-ci.yml
