Repository jinalshah/devops-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: all-devops-build-image, all-devops-deploy-image, aws-devops-build-image, aws-devops-deploy-image, gcp-devops-build-image, gcp-devops-deploy-image, pages

all-devops-build-image:
  stage: build
  image:
    name: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  ...

all-devops-deploy-image:
  stage: deploy
  image:
    name: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  ...

aws-devops-build-image:
  stage: build
  image:
    name: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  script:
  ...

aws-devops-deploy-image:
  stage: deploy
  image:
    name: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  script:
  ...

gcp-devops-build-image:
  stage: build
  image:
    name: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  script:
  ...

gcp-devops-deploy-image:
  stage: deploy
  image:
    name: docker:latest
  services:
  - docker:dind
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  - echo $GHCR_PASSWORD | docker login ghcr.io --username "GHCR_USER" --password-stdin
  - export TIMESTAMP=$(date +%Y%m%d-%H%M%S)
  script:
  ...

pages:
  stage: docs
  script:
  - pip install mkdocs-material
  - mkdocs build --site-dir public
  artifacts:
    paths:
    - public

Temporarily remove mongo
  Dockerfile
Due: all-devops-build-image, all-devops-deploy-image, aws-devops-build-image, aws-devops-deploy-image, gcp-devops-build-image, gcp-devops-deploy-image

Build amd64 images only
  .gitlab-ci.yml
  Dockerfile
Due: all-devops-build-image, all-devops-deploy-image, aws-devops-build-image, aws-devops-deploy-image, gcp-devops-build-image, gcp-devops-deploy-image, pages

Update docker file fo multi arch systems
  .gitlab-ci.yml
  Dockerfile
Due: all-devops-build-image, all-devops-deploy-image, aws-devops-build-image, aws-devops-deploy-image, gcp-devops-build-image, gcp-devops-deploy-image, pages

Update docker file fo multi arch systems
  Dockerfile
Due: all-devops-build-image, all-devops-deploy-image, aws-devops-build-image, aws-devops-deploy-image, gcp-devops-build-image, gcp-devops-deploy-image

Update docker file for multi arch systems
  .gitlab-ci.yml
Due: all-devops-build-image, all-devops-deploy-image, aws-devops-build-image, aws-devops-deploy-image, gcp-devops-build-image, gcp-devops-deploy-image, pages

Update buildx usage
  .gitlab-ci.yml
Due: all-devops-build-image, all-devops-deploy-image, aws-devops-build-image, aws-devops-deploy-image, gcp-devops-build-image, gcp-devops-deploy-image, pages

Simplify gitlab-ci.yml
  .gitlab-ci.yml
Due: all-devops-build-image, all-devops-deploy-image, aws-devops-build-image, aws-devops-deploy-image, gcp-devops-build-image, gcp-devops-deploy-image, pages

Switch to docker buildx defaults
  .gitlab-ci.yml
Due: all-devops-build-image, all-devops-deploy-image, aws-devops-build-image, aws-devops-deploy-image, gcp-devops-build-image, gcp-devops-deploy-image, pages

Remove BUILDX_VERISON as using default
  .gitlab-ci.yml
Due: all-devops-build-image, all-devops-deploy-image, aws-devops-build-image, aws-devops-deploy-image, gcp-devops-build-image, gcp-devops-deploy-image, pages

Upgrade to Python 3.11
  Dockerfile
Due: all-devops-build-image, all-devops-deploy-image, aws-devops-build-image, aws-devops-deploy-image, gcp-devops-build-image, gcp-devops-deploy-image

Revert "Upgrade to Python 3.11"
  Dockerfile
Due: all-devops-build-image, all-devops-deploy-image, aws-devops-build-image, aws-devops-deploy-image, gcp-devops-build-image, gcp-devops-deploy-image

Build separate images for arm64 and amd64 in feature branches
  .gitlab-ci.yml
Due: all-devops-build-image, all-devops-deploy-image, aws-devops-build-image, aws-devops-deploy-image, gcp-devops-build-image, gcp-devops-deploy-image, pages

testing specific runners
  .gitlab-ci.yml
Due: all-devops-build-image, all-devops-deploy-image, aws-devops-build-image, aws-devops-deploy-image, gcp-devops-build-image, gcp-devops-deploy-image, pages

Upgrade to Python 3.11
  .gitlab-ci.yml
  Dockerfile
Due: all-devops-build-image, all-devops-deploy-image, aws-devops-build-image, aws-devops-deploy-image, gcp-devops-build-image, gcp-devops-deploy-image, pages

Add new tags latest-arm and latest-amd for feature builds
  .gitlab-ci.yml
Due: all-devops-build-image, all-devops-deploy-image, aws-devops-build-image, aws-devops-deploy-image, gcp-devops-build-image, gcp-devops-deploy-image, pages

test arm64 image
  .gitlab-ci.yml
Due: all-devops-build-image, all-devops-deploy-image, aws-devops-build-image, aws-devops-deploy-image, gcp-devops-build-image, gcp-devops-deploy-image, pages

change linux/arm64 to linux/arm64/v8
  .gitlab-ci.yml
Due: all-devops-build-image, all-devops-deploy-image, aws-devops-build-image, aws-devops-deploy-image, gcp-devops-build-image, gcp-devops-deploy-image, pages

Revert Python 3.11 to Python 3.8
  Dockerfile
Due: all-devops-build-image, all-devops-deploy-image, aws-devops-build-image, aws-devops-deploy-image, gcp-devops-build-image, gcp-devops-deploy-image

Build for Python 3.11 and Update Docs for buildx multi-platform images
  Dockerfile
  docs/build-images/multi-platform-images.md
  mkdocs.yml
Due: all-devops-build-image, all-devops-deploy-image, aws-devops-build-image, aws-devops-deploy-image, gcp-devops-build-image, gcp-devops-deploy-image, pages

Update docs to include \ to escape colon
  docs/build-images/multi-platform-images.md
Due: pages

Change ENTRYPOINT to CMD
  Dockerfile
Due: all-devops-build-image, all-devops-deploy-image, aws-devops-build-image, aws-devops-deploy-image, gcp-devops-build-image, gcp-devops-deploy-image

Create docs for GitHub Pages
  .github/workflows/docs.yml
Due: none

Initial Workflow Test
  .github/workflows/image-builder.yml
Due: none

Initial Workflow Test
  .github/workflows/docs.yml
Due: none

Path conditions:
  all-devops-build-image: any of: Dockerfile, *.sh, .gitlab-ci.yml
  all-devops-deploy-image: any of: Dockerfile, *.sh, .gitlab-ci.yml
  aws-devops-build-image: any of: Dockerfile, *.sh, .gitlab-ci.yml
  aws-devops-deploy-image: any of: Dockerfile, *.sh, .gitlab-ci.yml
  gcp-devops-build-image: any of: Dockerfile, *.sh, .gitlab-ci.yml
  gcp-devops-deploy-image: any of: Dockerfile, *.sh, .gitlab-ci.yml
  pages: any of: docs/**/*, mkdocs.yml, .gitlab-ci.yml
